#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman influxdb-app.service
BindsTo=tig.service
After=tig.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/influxdb-app.pid %t/influxdb-app.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/influxdb-app.pid \
    --cidfile %t/influxdb-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/tig.pod-id --replace -d --name influxdb-app \
    --security-opt seccomp=unconfined \
    --env-file=%S/state/influxdb.env \
    --volume influxdb_data:/var/lib/influxdb3:z \
    ${INFLUXDB_IMAGE} \
    --node-id=${INFLUXDB_NODE_ID} --object-store=file --data-dir=/var/lib/influxdb3
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/influxdb-app.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/influxdb-app.ctr-id
ExecReload=/usr/bin/podman kill -s HUP influxdb-app
SyslogIdentifier=%u
PIDFile=%t/influxdb-app.pid
Type=forking

[Install]
WantedBy=default.target